.one-third.column
  %h3 Build a Website
  %p Create a simple website (a "minisite") suitable for an Internet marketing campaign, with a home page, a page for an offer (for example, to sell a product or capture an email address), plus pages for articles that can serve as a bridge between popular searches and your offer.
.one-third.column
  %h3 Get Started
  %p Step by step:
  %ul.square
    %li
      %strong
        =link_to "Settings:", website_builder_engine.settings_path
      \ Provide basic information to create your site.
    %li
      %strong
        =link_to "Offer Page:", website_builder_engine.offerpages_path
      \ Add a page to sell a product or capture an email address.
    %li
      %strong
        =link_to "Articles:", website_builder_engine.articles_path
      \ Create articles.
    %li
      %strong Finish up:
      #{link_to 'Generate home page', website_builder_engine.publish_setting_path(1)},
      \ #{link_to "view your site", "/index.html"}.
.one-third.column
  %h3 Docs & Support
  %p More to come.